extends layout

block content
  form(method="get" action="/")
    button(class='button' style={color: 'LightCyan', background: 'gray'}) ← Home
  h1= title
  p Welcome to #{title}
  form(method="post" action="/add_event" name="addevent")
    br
    p1 Select User:
    p
    select(name="userslist" value='' required).form-control
      each val in json_users
        option(value=val) User #{JSON.stringify((val.name)).slice(1, -1)}
    p
    p1 Type Item:
    p
    input(type='text', name="item", value='' required)
    p
    p1 Type assignment:
    p
    input(type='text', name="assignment", value='' required)
    p
    p1 Type ean:
    p
    input(type='number', name="ean", value='' required)
    p
    br
    button(type="submit" style={color: 'gold', background: 'gray'}) Create Event!
    p
    br
    p
  form(method="post" action="/add_archive" name="addarchive")
    table(name="eventtable" style="width:100%", border="1")
      tr
        th.
            Date
        th.
            User
        th.
            Item
        th.
            Ean
        th.
            Assignment
        th.
            Action
      each val in json_events
        tr
          td #{(JSON.stringify(((val.date).slice(0, 16)).replace(/[A-Z]/g, '-')).slice(1, -1))}
          td #{(JSON.stringify(val.user)).slice(1, -1)}
          td #{(JSON.stringify(val.item)).slice(1, -1)}
          td #{(JSON.stringify(val.ean)).slice(1, -1)}
          td #{(JSON.stringify(val.assignment)).slice(1, -1)}
          td
            button(value=val name="button_archive" type="submit" style={color: 'pink', background: 'gray'}) Archive it